<h2>Formulario de productos</h2>
<hr>
<br>
<div>
    <form action="/productos" method="post">
        Nombre: <input type="text" name="nombre" id="nombre">
        Cantidad: <input type="number" name="cantidad" id="cantidad">
        Precio: <input type="text" name="precio" id="precio">
        URL Foto: <input type="text" name="foto" id="foto">
        <input type="button" value="ACTUALIZAR" id="boton">
    </form>
</div>
<div>
    <h2>Tabla de Registros</h2>
    <hr>
    <div>
        <table id="tablaP">
            <h3 id="msjNoPdctos">No hay productos cargados, haga click en ACTUALIZAR para traer productos</h3>
        </table>
            
    </div>
</div>

<h2>Mensjes de Chat</h2>
<form onsubmit="return addMessage(this)">
    <input type="text" id="email" placeholder="Tu Email" >
    <input type="text" id="texto" placeholder="Cuéntanos algo...">
    <input type="submit" value="Enviar" id="boton-chat">
</form>

<h3>Historial de Chat</h3>
<div id="chat"></div>


