<h2>Tabla de Registros</h2>
<hr>
<div>
    <table id="tablaP">
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
    </table>
</div>