<h2>Formulario de productos</h2>
<hr>
<br>
<div>
    <form action="/productos" method="post">
        Nombre: <input type="text" name="nombre" id="nombre">
        Cantidad: <input type="number" name="cantidad" id="cantidad">
        Precio: <input type="text" name="precio" id="precio">
        <input type="submit" value="ENVIAR">
    </form>
</div>